<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Salle</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Ajouter une Salle</h1>
        
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="POST" action="{% url 'ajouter_salle' administrateur.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Nom de la Salle</label>
                {{ form.name }}
            </div>
            <div class="mb-3">
                <label for="numero" class="form-label">Numéro de la Salle</label>
                {{ form.numero }}
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <a href="{% url 'espaceadmin' administrateur.id %}" class="btn btn-primary">Acceuil</a>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
