<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer Matière</title>
</head>
<body>
    <h1>Supprimer Matière</h1>
    <p>Êtes-vous sûr de vouloir supprimer la matière : {{ matiere.code_matiere}} ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Supprimer</button>
    </form>
    <a href="{% url 'liste_matieres' %}">Retour à la liste des matières</a>
</body>
</html>
